<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <div class="main-content">

        {{>header}}
        <img src={{src}} class="portrait">
    </div>
    {{>footer}}

</body>

</html>