<!DOCTYPE html>
<html>

<head>
    <title>Express App</title>
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h2 id='h2'>{{name}}</h2>
        <form onsubmit='getWeather()'>
            <h3 id='h3'>Enter Data</h2>
                <p id='p1'></p>
                <input id='place-box' placeholder="Enter place name" />
                <button id='get-weather'>Get weather!</button>
        </form>
    </div>
    {{>footer}}
</body>
<script src="js/app.js"></script>

</html>